body{
    padding: 0;
    margin: 0;
}

#content{
    text-align: center;
    background-color: #E6E6FA;
}

#image-warpper{
    background-color: black;
    padding: 30px 0;
}

#image{
    width: auto;
    height: calc(100vh - 80px);
    text-align: center;
    position: relative;
    z-index: 1;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

#clickArea{
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 2;
}

#clickLeft{
    left: 0;
}

#clickRight{
    right: 0;
}

#clickTop{
    cursor: pointer;
}

#clickBottom{
    bottom: 0;
    position: absolute;
}

.vertical{
    width: 100%;
    height: 50px;
}


.horizontal{
    color: white;
    height: 100vh;
    width: 150px;
    position: absolute;
    cursor: pointer;
}

#button{
    margin: 0 auto;
    width: 60px;
    display: none;
    cursor: pointer;
}

#counter{
    color: #E74C3C;
    position: absolute;
    top: 25%;
    left: 44%;
    font-size: 300px;
    z-index: 99;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}